@import '../scss/variable';

li{
    list-style: none;
}

a{
    text-decoration: none;
}
body{
    padding: 0;
    margin: 0;
}
.navbar{

    &__social-icon{
        @include displayflex(center,space-around);
        border-bottom: 1px solid $secondnary_light;
        height: 60px;

        &__icons{
            @include displayflex(center,space-around);
            gap: 15px;
        }

        &__sub{
             @include displayflex();
            gap: 10px;
           

            li{
                @include displayflex();
                font-size:20px;
                padding: 10px 12px;
                border-radius: 50%;
                color: white;
                background-color:$secondnary_light;

            }

        }


    }

    &__container{
        @include displayflex(center,space-around);

        &__tittle{
            text-transform: uppercase;
        }
        &__links{
            @include displayflex(); 
            width: 80%;
           
            &__sub{
                @include displayflex(center,space-around); 
                width: 60%;
                text-transform: capitalize;
            }
            &__visit{
                @include displayflex(center,center);
                padding: 10px 20px;
                border-radius: 30px;
                background-color: $secondnary;
                color: white;
                position: relative;
                width: 150px;

                &__schedule-icon{
                position: absolute;
                left: 0px;
                background-color: $primary;
                padding: 10px;
                border-radius: 50%;
                }
            }

        }

        &__btn{
            display: none;
        
        }

       
    }

    @media(max-width:768px){
        &__social-icon{
            display: none;
        }
        &__container{
            @include displayflex(center,space-between);
            position: relative;
            width: 95%;
            margin: auto;
            &__links{

                &__sub{
                display:none;
            }
            &__show{
                display: block;
                position: absolute;
                top:110px;
                left: 50%;
                transform: translate(-50%,-50%);
                gap: 15px;
                text-align: center;
                text-transform: capitalize;
                li{
                    margin-bottom: 10px;
                }
            }
            &__visit{
                display: none;
            }
        }

           &__btn{
                display:block;
                outline: none;
                border: none;
            
            }

        }


    }

}

